@model IEnumerable<MyActualWebsite.Models.ProjectTag>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<ProjectTag> tags = new List<ProjectTag>();

            List<ProjectTag> all = new List<ProjectTag>(Model);
            int past = -1;
            ProjectTag pastItem = null;

            for (int i = 0; i < Model.Count(); i++)
            {
                
                @if (past == -1)
                {
                        past = (int)all[i].ProjectKey;
                }
                @if (past != all[i].ProjectKey)
                {
                    past = (int)all[i].ProjectKey;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => pastItem.Project.Title)
                        </td>

                        <td>
                            <ul>
                                @foreach (var pastTag in tags)
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => pastTag.Tag.TagName)
                                        @Html.ActionLink("Delete", "Delete", new { key1=pastTag.ProjectKey, key2=pastTag.TagID })
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    tags.Clear();
                        
                }
                tags.Add(all[i]);
                pastItem = all[i];
                @if (i == Model.Count() - 1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => pastItem.Project.Title)
                        </td>

                        <td>
                            <ul>
                                @foreach (var pastTag in tags)
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => pastTag.Tag.TagName)
                                        @Html.ActionLink("Delete", "Delete", new { key1=pastTag.ProjectKey, key2=pastTag.TagID })
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
