@model IEnumerable<MyActualWebsite.Models.StatBar>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatBarID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatBarID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatBarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
