@model IEnumerable<MyActualWebsite.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Featured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RepositoryURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @{
                        Output.WriteLine(item.Featured ? "Featured" : "none");
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RepositoryURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
